* {
  margin: 0;
}
/* contenedor */
.maincontainer {
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
/* navbar */
.apple {
  cursor: pointer;
  filter: opacity(50%);
  transition: 0.3;
}

.apple:hover {
  color: #f5f5f7;
  opacity: 1;
  filter: brightness(5);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1f;
  color: #f5f5f7;
  height: 50px;
  opacity: 0.8;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}
nav span {
  margin-left: 35px;
  margin-right: 35px;
}
h1 {
  margin: 0px;
}
h2 {
  margin-top: 0;
}
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
/* components */
.Component1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #efe5fe;
  color: black;
  margin-bottom: 15px;
  padding-top: 35px;
}
.Component1 h2 {
  font-size: 48px;
}
.Component1 h3 {
  font-size: 24px;
}
.Component1 p {
  color: #86868b;
  font-size: 17px;
}
.Component1 a {
  color: #06c;
}
.Component1 a:hover {
  text-decoration: underline;
}
.Component1 img {
  width: 800px;
  /* height: auto; */
  /* object-fit: cover; */
}
.Component2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  background-color: black;
  color: white;
  margin-bottom: 15px;
  padding-top: 35px;
}
.Component2 h2 {
  font-size: 48px;
}
.Component2 h3 {
  font-size: 24px;
}
.Component2 p {
  color: #86868b;
  font-size: 17px;
}
.Component2 a {
  color: #06c;
}
.Component2 a:hover {
  text-decoration: underline;
}
.Component2 img {
  width: 700px;
}
.Component3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: #fafafa;
  color: black;
  margin-bottom: 15px;
  padding-top: 35px;
}

.Component3 h2 {
  font-size: 48px;
}
.Component3 h3 {
  font-size: 24px;
}
.Component3 p {
  color: #86868b;
  font-size: 17px;
}
.Component3 a {
  color: #06c;
}
.Component3 a:hover {
  text-decoration: underline;
}
.Component3 img {
  width: 800px;
}
.Component4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: black;
  color: white;

  margin-bottom: 15px;
  padding-top: 35px;
}
.Component4 h2 {
  font-size: 48px;
}
.Component4 h3 {
  font-size: 24px;
}
.Component4 p {
  color: #86868b;
  font-size: 17px;
}
.Component4 a {
  color: #06c;
}
.Component4 a:hover {
  text-decoration: underline;
}
.Component4 img {
  width: 550px;
}
.Component5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;

  margin-bottom: 15px;

  padding-top: 35px;
}
.Component5 h2 {
  font-size: 48px;
}
.Component5 h3 {
  font-size: 24px;
}
.Component5 p {
  color: #86868b;
  font-size: 17px;
}
.Component5 a {
  color: #06c;
}
.Component5 a:hover {
  text-decoration: underline;
}
.Component5 img {
  width: 800px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.Component6 {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;

  background-color: white;
  color: black;
}

.Component6 h2 {
  font-size: 48px;
}
.Component6 h3 {
  font-size: 24px;
}
.Component6 p {
  color: #86868b;
  font-size: 17px;
}
.Component6 a {
  color: #06c;
}
.Component6 a:hover {
  text-decoration: underline;
}
.Component6 img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}
.Component7 {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;

  background-color: white;

  color: black;
}
.Component7 h2 {
  font-size: 48px;
}
.Component7 h3 {
  font-size: 24px;
}
.Component7 p {
  color: #86868b;
  font-size: 17px;
}
.Component7 a {
  color: #06c;
}
.Component7 a:hover {
  text-decoration: underline;
}
.Component7 img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.Component8 {
  grid-column: 1/2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;

  background-color: white;
  color: black;
}
.Component8 h2 {
  font-size: 48px;
}
.Component8 h3 {
  font-size: 24px;
}
.Component8 p {
  color: #86868b;
  font-size: 17px;
}
.Component8 a {
  color: #06c;
}
.Component8 a:hover {
  text-decoration: underline;
}
.Component8 img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}
.Component9 {
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;
  color: black;
}
.Component9 h2 {
  font-size: 48px;
}
.Component9 h3 {
  font-size: 24px;
}
.Component9 p {
  color: #86868b;
  font-size: 17px;
}
.Component9 a {
  color: #06c;
}
.Component9 a:hover {
  text-decoration: underline;
}
.Component9 img {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

/* footer */
.Footer {
  grid-column-start: 1;
  grid-column-end: 5;

  font-size: 12px;
  /* padding: 0px 175px;
  margin: 0px 175px; */
}
.Footer p {
  color: #86868b;
  padding: 5px 0px;
}
.lists {
  color: #86868b;
  list-style-type: none;
  /* justify-items: start; */
}
.lists li {
  margin: 25px;
}
